<br>
<div class="container" >
  <div class="col-xs-12">
    <div class="panel panel-body">
      <div class="panel panel-heading">
        <h2 align="center">Registrarse</h2>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="row">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'email' %>
            </div>

            <div class="row">
              <%= f.label :contraseña %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres minimo)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'Contraseña' %>
            </div>

            <div class="row">
              <%= f.label :confirmar_contraseña %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Confirmar Contraseña' %>
            </div>

            <div class="row">
              <%= f.submit "Registrar", class: 'btn btn-primary'%>
            </div>
          <% end %>
          <%- if controller_name != 'sessions' %>
            <%= link_to "Iniciar Sesión", new_session_path(resource_name) %><br />
          <% end %>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>
